.page-content{
    display: flex;
    align-items: center;
    justify-content: center;
}


.IntroAbout{
    font-size:450px;
    letter-spacing: -0.02em; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
    color: #000;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    font-weight: 600;
    letter-spacing: 1.3rem;
    will-change: transform, opacity;
}

.BackgroundImgAbout {
    object-fit: cover;
    object-position: 50% 30%;
}
.BackgroundImgAbout1 {
    object-fit: cover;

    object-position: 50% 20%;
}

/* brand */

.pText {
    font-family: Bebas;
    font-size: 25px;
    text-transform: lowercase;
}

.DesText {
    padding: 0 100px;
    font-size: 20px;
    font-family: "MonteLight";
    text-transform: capitalize;
    margin: 20px;
}
.DesText1 {
    padding: 0 90px;
    font-size: 20px;
    font-family: "MonteLight";
    text-transform: capitalize;
    margin: 20px;
}



@media (max-width: 768px) {

    .IntroAbout {
        font-size: 150px;
        letter-spacing: 0.2rem; 
        color: black;
    }

    .content {
        
    }

    .BackgroundImg {
        width: 100px;
        object-fit: none;
    }

    .DesText {
        padding: 0 20px;
        font-size: 20px;
        margin-top: -7vh;
        margin-bottom: -10vh;
    }
    .DesText1 {
        margin-top: -4vh;
        padding: 0 20px;
        font-size: 20px;
        margin-bottom: -10vh;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) {

    .IntroAbout {
        font-size: 310px;
        letter-spacing: 0.2rem; 
        color: black;
    }
}    
