

.page-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.collaborate {

}

.font2 {
    font-size: 300px;
    letter-spacing: -0.02em; 
    color: black;
}

.container {
}