/* Media queries for mobile devices */
@media (max-width: 768px) { 
    .containerV {
        margin-top: -60vh;
    }

    .text {
        font-size: 100px;
    }

    .image {
        width: 250px;
        overflow: visible;
        height: 100px;
    }

}