

body{
  margin: 0px;
}

.page-contentGG{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20vh;
}
.containerGG {
  margin-top: -20vh;
  margin-bottom: 20vh;
}


.fontG {
  font-size:140px; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 0 30px;
  text-align: center;
  overflow: hidden;
}




@media (max-width: 768px) { 
  .page-contentGG{
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    margin-bottom: 70vh;
  }

  .card3 {
    margin-bottom: 30vh;
  }

  .fontG {
    font-size: 55px;
    letter-spacing: 0.05em; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
 
    text-align: center;
    margin: 0 30px;
    text-align: center;
    overflow: hidden;
  }
  
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1200px) { 
  .fontG {
    font-size: 85px;
    letter-spacing: 0.05em; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
    text-align: center;
    margin: 0 30px;
    text-align: center;
    overflow: hidden;
  }
  .page-contentGG{
    margin: 50px;
    margin-top: -20vh;
  }
}
