.font2 {
    font-size:110px;
    letter-spacing: -0.02em; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
    color: #000;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    font-weight: 600;
    letter-spacing: 0.5rem;
    margin: 0 30px;
    text-align: center;
    overflow: hidden;
  }

  @media (max-width: 768px) { 
    .font2 {
      font-size: 50px;
      letter-spacing: 0.001rem;
      margin: 0 30px;
      text-align: center;
      overflow: hidden;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) { 
    .font2 {
      font-size: 70px;
      letter-spacing: 0.001rem;
      margin: 0 30px;
      text-align: center;
      overflow: hidden;
    }
  }
  