.font2 {
    font-size:110px;
    letter-spacing: -0.02em; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
    color: #000;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    font-weight: 600;
    letter-spacing: 0.5rem;
  }

  @media (max-width: 768px) { 
    .font2 {
      font-size: 33px;
      letter-spacing: 0.001rem;
    }
  }