.page-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fontT {
    font-size: 150px;
    letter-spacing: -0.02em; 
    color: black;
}

@media (max-width: 768px) {
    .fontT {
        font-size: 30px;
    }
}

