.NeuroG {
  font-size:100px;
  letter-spacing: -0.02em; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
  color: #000;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  font-weight: 600;
  letter-spacing: 0.7rem;
  }

/* Mobile Styles */
@media (max-width: 768px) {
  .NeuroG {
    font-size: 30px;
    letter-spacing: 0.09rem;
  }

}

