.fontNPortfolio {
  font-size:110px;
  letter-spacing: 0.05em; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
  color: #000;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  font-weight: 600;
  margin: 0 30px;
  text-align: center;
  overflow: hidden;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1200px) { 
    .fontNPortfolio {
      font-size: 75px;
      letter-spacing: 0.05em; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
      color: #000;
      margin: 0 40px;
      text-align: center;
      overflow: hidden;
      }
  }
  
  @media (max-width: 480px) { 
    .fontNPortfolio {
      font-size: 40px;
      letter-spacing: 0.05em; /* Reduced letter-spacing *//* Adjusted line-height for spacing */
      color: #000;
      text-align: center;
      overflow: hidden;
      margin: 0 40px;
      }
  }

.carouselContainer {
  overflow: hidden;
}